// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  top: 26px;
  right: 5px;
  border-style: solid;
  border-color: $light-gray;
  border-width: 1px;
  background-color: white;
  z-index: 10;
  width: 250px;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);

}

.gear-dropdown ul {
  font-family: $sans-serif;
}

.gear-dropdown span {
  font-family: $sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray;
  margin: 12px;
  padding-top: 8px;
  display:block;
}

.gear-dropdown li {
  position: relative;
}

.editions a {
  color: $gray;
  display: block;
  text-transform: uppercase;
  margin: 5px 10px;
  padding: 5px;
}

.editions a:hover {
  background-color: $light-gray;
  color: black;
  text-decoration: none;
}

.help a {
  color: $light-blue;
  display: block;
  margin: 5px 10px;
  padding: 5px;
}
