.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 42px;
  color: #a7b6ce;
  text-transform: uppercase;
}


.sign-in-nav {
  list-style: none;
}

body {
   background-color: #111f35;
}

form {
  display: flex;
  justify-content: center;
  label {
    margin: 5px;
  }
  input {
    margin: 3px;
  }
}

.title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #a7b6ce;
}

.sign-in-nav a {
  display: flex;
  float: right;
  margin: 3px;
  padding: 5px;
  background-color: lightgray;
  border-radius: 4px;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border: solid gray 1px;
}

.thing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  height: 150px;
  background-color: lightgray;
  border-radius: 4px;
  margin: 20px;
}

.thing:hover {
  background-color: gray;
  transition: background-color 0.3s;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.name:hover {
  color: white;
}

.sign-in-nav a:hover {
  color: black;
  background-color: lightblue;
  border-color: darkblue;
  font-size: 14px;
  transition: background-color 0.3s, border-color 0.3s, font-size 0.3s;
}

.signed-in {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #a7b6ce;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
}
