<h1 class="title"><%= @band.name %></h1>

<ul class="list">
  <% if @band.albums.empty? %>
    <li>This band has no albums at the moment...</li>
  <% else %>
    <% @band.albums.each do |album| %>
    <li class="thing"><a class ="name" href="<%= album_url(album) %>"><%= album.title %></a></li>
    <% end %>
  <% end %>
</ul>
